<h1>ACME products</h1>
<p>Here's a list of all product.</p>
<p>Use these to test the lottery.</p>
<p *ngIf="!productSlice"><em>Loading...</em></p>
<table mat-table [dataSource]="productSlice" class="mat-elevation-z8" 
       [hidden]="!productSlice">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let product">{{product.id}}</td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let product">{{product.name}}</td>
  </ng-container>
  <!-- Serial Number Column -->
  <ng-container matColumnDef="serialNumber">
    <th mat-header-cell *matHeaderCellDef>Serial Number</th>
    <td mat-cell *matCellDef="let product">{{product.serialNumber}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator ng [hidden]="!products"
               [length]="products.length"
               [pageSize]="10"
               [pageSizeOptions]="[10, 20, 50]"
               (page)="onPageChange($event)"
               showFirstLastButtons></mat-paginator>

